@import "./reset.scss";
@import "../components/controls/controls.scss";
@import "../components/options-panel/options-panel.scss";
@import "../components//guide-panel/guide-panel.scss";

.App {
  display: flex;
  flex-flow: row wrap;
}

.game-view {
  padding: 20px;
  width: 100%;
  :nth-child(1) {
    margin: 50px auto 0;
  }
}
