@import "./reset.scss";
@import "../components/controls/controls.scss";
@import "../components/info-panel/information-panel.scss";
@import "../components//guide-panel/guide-panel.scss";

.App {
  display: flex;
  flex-flow: row wrap;
}

.game-view {
  // padding: px 10px;
  // width: 100%;
  :nth-child(1) {
    margin: 30px 15px;
  }
  
}
