// GUIDE ----
.guide {
  // display: none;
  position: absolute;
  z-index: 25;
  width: 50%;

  top:80px;
  right: 25%;

  box-sizing: border-box;
  background:#222;
  height: 87vh;
  padding: 10px;
  color: white;
  transition: all 0.5s ease;
  
  &.close {
    height: 0;
    padding: 0;
    .rules {
      opacity: 0;
      display: none;
    }
   
  }
}

.rules {
  // z-index: 20;
  opacity: 1;
  p {
    padding: 10px;
  }
  .highlight {
    display: block;
    background: black;
    padding: 12px;
    &.plus {
      color: greenyellow;
      font-weight: bold;
    }
    &.minus {
      color: red;
      font-weight: bold;
    }
  }
}
