.controls {
  // padding: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  justify-content: flex-end;
  z-index: 2;

  button {
    width: 5%;
    height: 50px;
    background: transparent;
    border: none;
    border-radius: 15px;
    font-size: medium;
    transition:all .3s ease;
    
    &:hover {
      font-size: xx-large;
    }
    &.play-btn {
      color: rgb(0, 51, 0);
      &.active, &:hover  {
        color: lawngreen;
      }
    }
    &.pause-btn {
      color: rgb(46, 46, 46);
      &:hover {
        color: white;
      }
    }
    &.trash-btn {
      color: rgb(78, 20, 20);
      &:hover {
        color: red;
      }
    }
  }
}
