// CONTROLS ----
.options-panel {
  &*{
    user-select: none;
  }
  z-index: 15;
  position: absolute;
  height: 87vh;
  width: 20%;
  transition: width 0.3s ease;
  background: #222;
  top:80px;
  right:0px;
  color:white;
  
  .options-btn {
    z-index: 10;

    position: absolute;
    background: rgba($color: #000000, $alpha: .3);
    color: rgb(109, 109, 109);
    border: none;
    padding: 1rem 1rem 1rem 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: x-large;
    background:#222;
    transition: all 0.3s ease;
    width:200px;
    top: -70px;
    right: 0;
    &:hover {
      color: white;
    }
  }

  .info {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;

    span {
      box-sizing: border-box;
      border-radius: 10px;
      padding: 10px;
      font-weight: bold;
      font-size: medium;
      color: #666666;
    }
    .label {
      width: 100%;
    }
    .number {
      background: #222;
      width: 100%;
      // text-align: end;
      color: #888888;
    }
  }
  .options{
    margin-top: 80px;
    padding:1rem;
    input{
      box-sizing: border-box;
      background:transparent;
      border:none;
      color:white;
      font-size: large;
      width:100%;
    }
  }
  &.closed {
    width: 0;
    padding: 0;
    span {
      width: 0;
      opacity: 0;
    }
  
  }
}
